head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='css/style.css')
    title  Admin Panel
.header
    .logo  ONLINE GAMESHOP
#s1
    .left
        h3 &nbsp;&nbsp;&nbsp;&nbsp;Admin Features:
        ul
            li
                a(href='#')  Admin Login
            br
            li
                a(href='#')  Personal Information
            br
            li
                a(href='#')  Categories add/delete/Update
            br
            li
                a(href='/admin/form')  Product add/delete/Update
            br
    // <div class="Right"> </div>