extends base

block content
    section.single-product.py-5
        .container
            .row
                .col-10.mx-auto.col-lg-4.text-center.my-5
                    .single-product-img-container
                        img.img-fluid(src='img/img-products/product-1.png' alt='')
                    .row.single-product-photos.mt-3
                        // single photo
                        .col-2.col-sm-2.single-product-photo.p-1
                            img.img-fluid(src='img/img-products/product-1.png' alt='')
                        // endo of single photo
                        // single photo
                        .col-2.col-sm-2.single-product-photo.p-1
                            img.img-fluid(src='img/img-products/product-1.png' alt='')
                        // endo of single photo
                        // single photo
                        .col-2.col-sm-2.single-product-photo.p-1
                            img.img-fluid(src='img/img-products/product-1.png' alt='')
                        // endo of single photo
                        // single photo
                        .col-2.col-sm-2.single-product-photo.p-1
                            img.img-fluid(src='img/img-products/product-1.png' alt='')
                        // endo of single photo
                        // single photo
                        .col-2.col-sm-2.single-product-photo.p-1
                            img.img-fluid(src='img/img-products/product-1.png' alt='')
                        // endo of single photo
                        // single photo
                        .col-2.col-sm-2.single-product-photo.p-1
                            img.img-fluid(src='img/img-products/product-1.png' alt='')
                        // endo of single photo
                // info
                .col-10.mx-auto.col-lg-8.single-product-info.my-5.px-lg-5
                    // ratings
                    .ratings
                        span.rating-icon
                            i.fas.fa-star
                        span.rating-icon
                            i.fas.fa-star
                        span.rating-icon
                            i.fas.fa-star
                        span.rating-icon
                            i.fas.fa-star
                        span.rating-icon
                            i.far.fa-star
                        span.text-capitalize (25 customer reviews)
                    // end of ratings
                    h2.text-uppercase.my-2 premium office armchair
                    h2 $10.00 - $200.00
                    p.lead.text-muted
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
                        | porro.
                    // colors
                    h5.text-uppercase
                        | colors :
                        span.d-inline-block.products-color.products-color-black.mr-2
                        span.d-inline-block.products-color.products-color-red.mr-2
                        span.d-inline-block.products-color.products-color-blue.mr-2
                    // end of colors
                    // sizes
                    h5.text-uppercase
                        | sizes :
                        span.mx-2 xs
                        span.mx-2 s
                        span.mx-2 m
                        span.mx-2 l
                        span.mx-2 xl
                    .d-flex.flex-wrap
                        // cart buttons
                        .d-flex.my-2
                            span.btn.btn-black.mx-1 -
                            span.btn.btn-black.mx-1 4
                            span.btn.btn-black.mx-1 +
                        button.btn.btn-black.my-2.mx-2 wishlist
                        button.btn.btn-yellow.my-2.mx-2 add to cart
    // end of single product
    // product info
    section
        .container
            .row
                .col
                    .jumbotron
                        // product info links
                        .d-flex.justify-content-around.flex-wrap.my-3.text-center
                            a.product-info-link(href='#')
                                h4.text-capitalize description
                            a.product-info-link(href='#')
                                h4.text-capitalize additional information
                            a.product-info-link(href='#')
                                h4.text-capitalize reviews (25)
                        // end of product info links
                        p.lead
                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
                            | debitis, facere similique fuga repudiandae itaque inventore
                            | minus quos hic non provident a voluptate? Accusantium dolores
                            | architecto consequatur facere, aliquid cum excepturi vitae
                            | molestias ab. Culpa numquam nobis beatae est dolore.