section.featured.py-5
    .container
        .row.my-3
            .col-10.mx-auto.text-center
                h1.text-uppercase featured products
                p.text-muted
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora,
                    | recusandae.
        .row
            // single product
            .col-10.mx-auto.col-md-6.col-lg-4
                .featured-container.p-5
                    img.img-fluid(src='img/img-products/Products-4.jpg' alt='product')
                    span.featured-search-icon(data-toggle='modal' data-target='#productModal')
                        i.fas.fa-search
                    a.featured-store-link.text-captilaze(href='#') add to cart
                h6.text-capitalize.text-center.my-2 special product
                h6.text-center
                    span.text-muted.old-price.mx-2 $200
                    span $100
            // end single product
            // single product
            .col-10.mx-auto.col-md-6.col-lg-4
                .featured-container.p-5
                    img.img-fluid(src='img/img-products/Products-2.jpg' alt='product')
                    span.featured-search-icon(data-toggle='modal' data-target='#productModal')
                        i.fas.fa-search
                    a.featured-store-link.text-captilaze(href='#') add to cart
                h6.text-capitalize.text-center.my-2 special product
                h6.text-center
                    span.text-muted.old-price.mx-2 $200
                    span $100
            // end single product
            // single product
            .col-10.mx-auto.col-md-6.col-lg-4
                .featured-container.p-5
                    img.img-fluid(src='img/img-products/Products-6.jpg' alt='product')
                    span.featured-search-icon(data-toggle='modal' data-target='#productModal')
                        i.fas.fa-search
                    a.featured-store-link.text-captilaze(href='#') add to cart
                h6.text-capitalize.text-center.my-2 special product
                h6.text-center
                    span.text-muted.old-price.mx-2 $200
                    span $100
            // end single product
