footer.py-5.footer
    .container
        .row
            .col-10.mx-auto.text-center
                h1.text-uppercase.font-weight-bold.text-yellow.footer-title.text-center.d-inline-block Shop Name
                .footer-icons.my-5.d-flex.justify-content-center
                    // single icon
                    a.footer-icon.mx-2(href='#')
                        i.fab.fa-facebook
                    // end of  single icon
                    // single icon
                    a.footer-icon.mx-2(href='#')
                        i.fab.fa-twitter
                    // end of  single icon
                    // single icon
                    a.footer-icon.mx-2(href='#')
                        i.fab.fa-google-plus
                    // end of  single icon
                    // single icon
                    a.footer-icon.mx-2(href='#')
                        i.fab.fa-instagram
                    // end of  single icon
                    // single icon
                    a.footer-icon.mx-2(href='#')
                        i.fab.fa-youtube
                    // end of  single icon
                // end footer icons
                p.text-muted.text-capitalize.w-75.mx-auto.text-left
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quas
                    | itaque minima rem esse aut eos inventore numquam nostrum placeat?
                .footer-contact.mt-5.d-flex.justify-content-around.flex-wrap
                    // single contact
                    .text-capitalize
                        span.footer-icon.mr-2
                            i.fas.fa-map
                        |                 Mirpur 1, Dhaka
                    // end of single contact
                    // single contact
                    .text-capitalize
                        span.footer-icon.mr-2
                            i.fas.fa-phone
                        |                 phone : +880 1711 123456
                    // end of single contact
                    // single contact
                    .text-capitalize
                        span.footer-icon.mr-2
                            i.fas.fa-envelope
                        |                 email : GamingSite@gmail.com
                    // end of single contact